{% extends "network/layout.html" %}

{% block title %}Feed{% endblock%}

{% block body %}

    <div id ="homepage">
        <button class="btn btn-sm btn-outline-primary" id="4You">For You</button>
        <button class="btn btn-sm btn-outline-primary" id="Following">Following</button>
    </div>

    <div id="compose-post">
        <h3>What comes to your mind?</h3>
        <form id="compose-post-form">
            <div class="primary-buttons">
                <input type="submit" class="btn btn-primary"/>
            </div>
            <div class="form-message">
                <textarea id="post-message" placeholder="write here"></textarea>
            </div>
            <div class="form-buttons">
                <button id="import-images"><i class="fas fa-camera"></i></button>    
            </div>
        </form>
    </div>

    <div id="compose-repost">
    </div>

{% endblock %}

{% block script %}
<script src="{% static 'network/main.js' %}"></script>
{% endblock %}