{% extends "network/layout.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'network/assets/dist/css/post.css' %}">
{% endblock %}

{% block title %}Feed{% endblock%}

{% block body %}
<div class="container">
    <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex justify-content-center w-100">
            <div>
                <button class="btn btn-sm btn-outline-primary" id="ForYou">For You</button>
                <button class="btn btn-sm btn-outline-primary" id="Following">Following</button>
            </div>
        </div>
        <div id="air-btns">
            <button class="btn btn-sm btn-outline-primary" id="compose-btn">+</button>
        </div>
    </div>
    
    <div id="feed">
        <div id ="homepage">
        </div>


        <div id="compose-post" class="post-container">
            <h3>What comes to your mind?</h3>
            <form id="compose-post-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-message">
                    <textarea id="post-message" placeholder="Write here..."></textarea>
                </div>
                <div class="form-buttons">
                    <label for="upload-images" class="btn btn-outline-primary">
                        <i class="fas fa-camera"></i> Upload Images
                    </label>
                    <input type="file" id="upload-images" name="images" multiple accept="image/*">
                    <div id="postPreview" class="post-preview"></div>
                </div>
                
                <div class="primary-buttons">
                    <input  id="submitPost" value="Postar" type="submit" class="btn btn-primary"/>
                </div>
            </form>
        </div>
    </div>

    <div id="compose-repost">
    </div>
</div>
{% endblock %}

{% block script %}
    <script type="module"  src="{% static 'network/main.js' %}"></script>
{% endblock %}